/*common styles*/
.common-styles{
    font-family: Montserrat,sans-serif;
}

.wrapper{
    max-width: 1120px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 100%;
}

.link{
    font-family: Montserrat,sans-serif;
    text-decoration: none;
}
/*common styles*/
/*header*/
.hero{
    background-image:url("../imgs/backgrounds/header_background.jpg");
    height: 100%;
    background-size: cover;
}

.header-nav-bar{
    background: rgba(94, 93, 88, 0.6);
}

.header-nav-bar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-container{
    position: relative;
}

.header-logo-svg{
    display: inline-block;
    width: 58px;
    height: 67px;
}

.header-logo{
    display: inline-block;
    position: absolute;
    top: calc((67px - 31px)/2);
    left: calc((58px - 29px)/2);
    margin: 0;
    font-size: 40px;
    line-height: 31px;
    color: #FFFFFF;
}

.header-logo-title{
    position: absolute;
    top: calc((67px - 48px)/2);
    left: 58px;
    display: inline-block;
    margin: 0;
    padding-left: 6px;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
}

.header-logo-title__ham{
    color: #18CFAB;
}

.header-nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    margin: 0;
    list-style-type: none;
}

.header-nav-list-item-link{
    padding-right: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
}

.header-nav-list-item-link:hover{
    color: #18CFAB;
}

/*header*/
/*advantages*/

/*advantages*/
/*services*/

/*services*/
/*promotion*/

/*promotion*/
/*portfolio*/

/*portfolio*/
/*news*/

/*news*/
/*reviews*/

/*reviews*/
/*gallery*/

/*gallery*/
/*footer*/
.page-footer{
    background: #22353F;
}

.footer-copyright{
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
    padding:48px 0 47px;
}

.footer-copyright__the-ham{
    color: #18CFAB;;
}
/*footer*/

























