/* === COMMON STYLES ===*/
.common-styles{
    font-family: Montserrat,sans-serif;
}

.wrapper{
    max-width: 1160px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
}

.link{
    font-family: Montserrat,sans-serif;
    text-decoration: none;
    color: #FFFFFF;
}

button{
    outline: none;
}

.btn{
    margin: 0 auto;
    width: 169px;
    height: 63px;
    padding-top: calc((63px - 32px)/2);
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    border-radius: 5px;
    color: #FFFFFF;
    background: #18CFAB;
}

.load-btn{
    position: relative;
    display: block;
}

.load-btn::before{
    content: url("../img/svg/plus.svg");
    padding-right: 15px;
}

ul{
    padding-left: 0;
    list-style-type: none;
}

.section-title{
    text-align: center;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
}

.section-title::after{
    content: "";
    display: block;
    margin: 24px auto 0;
    width: 78px;
    height: 1px;
    background: #18CFAB;
    box-shadow: 12px 4px #18CFAB;
}

.section-tabs{
    display: flex;
    justify-content: center;
}

.quotes{
    display: block;
    margin: 0 auto;
    width: 44px;
    height: 30px;
    fill: #18CFAB;
}

.loader{
    margin: 0 auto;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #18CFAB;
    border-radius: 50%;
    width:50px;
    height:50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0%{
      transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* === / COMMON STYLES === */

/* === HEADER === */

/* === NAV === */
.hero{
    background-image:url("../img/backgrounds/header_background.jpg");
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}

.header-nav-bar{
    background: rgba(94, 93, 88, 0.6);
    /*position: sticky;*/
    /*top: 0;*/
}

.header-nav-bar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-container{
    position: relative;
}

.header-logo-svg{
    display: inline-block;
    width: 58px;
    height: 67px;
}

.header-logo{
    display: inline-block;
    position: absolute;
    top: calc((67px - 31px)/2);
    left: calc((58px - 29px)/2);
    margin: 0;
    font-size: 40px;
    line-height: 31px;
    color: #FFFFFF;
}

.header-logo-title{
    position: absolute;
    top: calc((67px - 48px)/2);
    left: 58px;
    display: inline-block;
    margin: 0;
    padding-left: 6px;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
}

.header-logo-title__ham{
    color: #18CFAB;
}

.header-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    margin: 0;
}

.header-nav-list-item-link{
    padding: 50px 10px 50px 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
}

.header-nav-list-item-link:hover{
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.header-nav-search-icon{
    display: block;
    padding-left: 10px;
    fill: #FFFFFF;
}

/* === / NAV === */

/* === HERO === */
.header-slogan-container{
    margin: 0 auto;
    padding-top: 264px;
    padding-bottom: 130px;
}

.header-slogan-subtitle{
    font-weight: bold;
    font-size: 35px;
    line-height: 1px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-slogan-subtitle__wordpress{
    color: #18CFAB;
}

.header-slogan-title{
    font-size: 78px;
    line-height: 1px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-slogan-text{
    font-size: 34px;
    line-height: 1px;
    text-align: center;
    color: #D4D4D4;
}

.header-button-container{
    display: flex;
    justify-content: center;
    max-width: 30vw;
}

.header-btn-explore{
    margin-bottom: 243px;
    margin-right: 26px;
    box-shadow: 0 -5px #ffffff;
}

.header-btn-purchase{
    margin-bottom: 243px;
    background: #00CBF6;
    box-shadow: 0 -5px #ffffff;
}

/* === / HERO === */

/* === / HEADER === */

/* === ADVANTAGES === */
.advantages{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 377px;
    border-top: 8px solid #FFFFFF;
}

.advantages-item:nth-child(even){
    background: #18CFAB;
}

.advantages-item:nth-child(even) .advantages-item-description{
    color: #FFFFFF;
    padding-top: 58px;
    margin: 0;
}

.advantages-item:nth-child(odd){
    background: #1C2A33;
}

.advantages-item:nth-child(odd) .advantages-item-description{
    color: #18CFAB;
    padding-top: 48px;
    margin: 0;
}

.advantages-item-svg{
    display: block;
    margin: 0 auto;
}

.svg-tap, .svg-bulb{
    fill: #18CFAB;
    padding-top: 85px;
}

.svg-diamond, .svg-gadgets{
    fill: #FFFFFF;
    padding-top: 95px;
}

.advantages-item-description{
    text-align: center;
    text-transform: uppercase;
}

/* === / ADVANTAGES === */

/* === SERVICES ===*/

.services-title{
    padding-top: 84px;
    margin-top: 0;
}

.services-tabs{
    margin-top: 69px;
    margin-bottom: 0;
    padding-bottom: 27px;
    max-width: 1200px;
}

.services-tab-title{
    position: relative;
    width: 192px;
    padding-top:16px;
    padding-bottom: 15px;
    text-align: center;
    line-height: 39px;
    border: 2px solid #EDEFEF;
    color: #717171;
    background: #F8FCFE;
    cursor: default;
}

.services-tab-title.active::after{
    content: "";
    position: absolute;
    bottom: -13px;
    left: 42%;
    display: block;
    width: 27px;
    height: 15px;
    clip-path: polygon(49% 51%, 0 0, 100% 0);
    background-color: #18CFAB;
}

.services-tab-title:hover{
    border: 2px solid #18CFAB;
}

.services-tab-title.active{
    color: #FFFFFF;
    background: #18CFAB;
}


.services-tab-content-item{
    display: none;
}

.services-tab-content-item.active{
    display: flex;
    justify-content: space-between;
}

.services-tab-content-item-description{
    padding-left: 15px;
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}

.services-tab-content-item-img{
    max-width: 100%;
    height: 139px;
    object-fit: cover;
}

/* === / SERVICES === */

/* === PROMOTION === */

.promotion{
    padding-bottom: 127px;
    position: relative;
}

.promotion-background{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1000;
    background-image: url("../img/backgrounds/promotion_background.jpg");
    filter: brightness(25%);
    background-repeat: no-repeat;
    background-position: 52% 46%;
}

.promotion-title{
    margin: 0;
    padding-top: 126px;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
    filter: brightness(100%);
}

.promotion-description{
    margin: 0;
    padding-top: 13px;
    padding-bottom: 62px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #D8D8D8;
    filter: brightness(100%);
}

.promotion-btn{
    display: block;
    margin: 0 auto;
    box-shadow: 0 -5px #ffffff;
    filter: brightness(100%);
}

/* === / PROMOTION === */

/* === PORTFOLIO === */

.portfolio{
    background: #E9EDEF;
    padding-bottom: 100px;
}

.portfolio-title{
    padding-top: 98px;
    padding-bottom: 69px;
    margin: 0;
}

.portfolio-tabs{
    align-items: center;
    padding-bottom: 71px;
    margin: 0;
}

.portfolio-tabs-title{
    padding:14px 15px 13px;
    font-size: 14px;
    line-height: 42px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
    color: #717171;
    cursor: pointer;
}

.portfolio-tabs-title:nth-child(1){
    padding-right: 28px;
    padding-left: 28px;
}

.portfolio-tabs-title.active{
    border: 2px solid #18CFAB;
    color: #18CFAB;
}

.portfolio-tabs-title:hover{
    border: 2px solid #18CFAB;
}

.portfolio-image-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 70px;

}

.portfolio-image-item{
    position: relative;
}

.portfolio-image{
    width: 100%;
    display: block;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background: #E9EDEF;
    border-top: 3px solid #18CFAB;
}

.portfolio-image-item:hover .overlay{
    opacity: 1;
}

.overlay-link{
    margin: 42px 3px 0 95px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    width: 41px;
    height: 41px;
    border: 1px solid #18CFAB;
}

.overlay-link-svg{
    position: absolute;
    top: 13px;
    left: 13px;
    fill: #1FDAB5;
}

.overlay-play{
    display: inline-block;
    position: relative;
    border-radius: 50%;
    width: 41px;
    height: 41px;
    border: 1px solid #18CFAB;
}

.overlay-play:hover, .overlay-link:hover{
    background-color: #18CFAB;
}

.overlay-link:hover>.overlay-link-svg {
    fill: #FFFFFF;
}

.overlay-play:hover>.overlay-play-square{
    background-color: #FFFFFF;
}

.overlay-play-square{
    position: absolute;
    top: 14px;
    left: 15px;
    width: 12px;
    height: 12px;
    background-color: #18CFAB;
}

.overlay-description{
    padding-top: 24px;
    display: block;
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
}

.overlay-category-name{
    display: block;
    text-align: center;
    margin: 0;
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
}

.portfolio-btn{
    margin: 0 auto;
}

.portfolio-btn:hover{
    cursor: pointer;
}

/* === / PORTFOLIO === */

/* === NEWS === */
.news-title{
    padding-top: 82px;
    padding-bottom: 68px;
    margin: 0;
}

.news-items-container{
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-gap: 45px 35px;
    margin-bottom: 128px;
}

.news-item{
    position: relative;
    display: block;
    background: #F8FCFE;
    border: 1px solid #F2F4F5;
}

.news-item:hover .news-item-description {
    color: #18CFAB;
}

.news-item:hover .news-item-date{
    background-color: #18CFAB;
}

.news-item-date{
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 17px;
    max-width: 4ch;
    font-size: 16px;
    font-weight: normal;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    background-color: #203E38;
}

.news-item-img{
    width: 100%;
    height: 208px;
    object-fit: cover;
}

.news-item-description{
    margin: 0;
    padding-left: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 39px;
    text-align: left;
    color: #717171;
}

.news-item-author::after{
    content: "";
    width: 1px;
    margin-left: 15px;
    border: 1px solid #d0d0d0;
}

.news-item-author, .news-item-comments{
    display: inline-block;
    margin: 0;
    padding-left: 10px;
    padding-bottom: 5px;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    text-align: left;
    color: #777777;
}

/* === / NEWS === */

/* === REVIEWS === */

.reviews{
    background-image: url("../img/backgrounds/reviews_background.jpg");
    padding-bottom: 100px;
}

.reviews-title{
    margin: 0;
    padding-top: 98px;
    padding-bottom: 99px;
    font-weight: normal;
    font-style: normal;
    color: #FFFFFF;
}

.reviews-carousel{
    position: relative;
    padding: 0 20px;
    margin-bottom: 15px;
}

.slick-list {
    overflow: hidden;
}

.slick-track{
    display: flex;

}

.reviews-carousel-nav{
    padding: 0 60px;
    max-width: 363px;
    margin: 38px auto 0;
    /*height: 83px;*/
    position: relative;
}

.reviews-carousel-nav-item.slick-current{
    transform: translateY(-20px);
    transition: .5s;
    padding-top: 10px;
}

.reviews-carousel-nav .slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    margin: -15px 0;
    width: 31px;
    height: 31px;
    border: 1px solid #BBBBBB;;
    background: transparent;
}

.reviews-carousel-nav .slick-arrow.slick-prev{
    left: 0;
}

.slick-prev::before{
    position: absolute;
    content: url("../img/svg/carousel-arrow-l.svg");
    left: 8px;
    top: 8px;
    width: 10px;
    height: 15px;
}

.reviews-carousel-nav .slick-arrow.slick-next{
    right: 0;
}

.slick-next::before{
    position: absolute;
    content: url("../img/svg/carousel-arrow-r.svg");
    right: 8px;
    top: 8px;
    width: 10px;
    height: 15px;
}

.slick-arrow:hover {
    background-color: #18CFAB;
    border: 1px solid transparent;
}

.slick-next:hover::before {
    content: url("../img/svg/carousel-arrow-r_hover.svg");
}

.slick-prev:hover::before{
    content: url("../img/svg/carousel-arrow-l_hover.svg");
}

.reviews-carousel-nav-item.slick-slide{
    width: 79px;
    margin: 0 16px;
}

.reviews-carousel-nav-image{
    object-fit: cover;
    width: 60px;
    height: 60px;
    margin-top: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 5px rgba(31,218,181,.2);
}

.reviews-carousel-nav .slick-track{
    width: 400px;
    height: 93px;
}

.reviews-text{
    max-height: 163px;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    padding-top: 36px;
    padding-bottom: 37px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #BBBBBB;
    transition: 2s;
}

.reviews-text:hover{
    transition: all 2s linear;
    white-space: normal;
    overflow: visible;
}

.reviews-author{
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
}

.reviews-author-occupation{
    margin: 0;
    padding-bottom: 38px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #BBBBBB;
}

.reviews-author-image-border{
    display: block;
    margin: 0 auto 15px;
    width: 166px;
    height: 166px;
}

.reviews-author-image{
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 166px;
    height: 166px;
    object-fit: cover;
    box-shadow: 0px 0px 0px 11px rgba(31,218,181,.2);
    mix-blend-mode: normal;
}

/* === / REVIEWS === */

/* === GALLERY === */

.gallery{
    padding-bottom: 80px;
}

.gallery-title{
    padding-top: 108px;
    padding-bottom: 115px;
}

.gallery-image-item{
    float: left;
    width: 33%;
    /*margin-right: 21px;*/
    margin-bottom: 20px;
}

.gallery-image-item:nth-child(3){
    margin-bottom: 0;
}

.gallery-image-item:nth-child(3) .gallery-image{
    object-fit: cover;
    width: 49%;
    height: 170px;
    padding-bottom: 3px;
}

.gallery-image-item:nth-child(4){
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 3px 3px;
}

.gallery-image-item:nth-child(4) .gallery-image{
    max-height: 92px;
    object-fit: cover;
}

.gallery-image{
    width: 100%;
    height: 100%;
}



.gallery-btn{
    margin: 0 auto;
}
/* === / GALLERY === */

/* === FOOTER === */

.page-footer{
    background: #22353F;
}

.footer-copyright{
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
    padding:48px 0 47px;
}

.footer-copyright__the-ham{
    color: #18CFAB;;
}

/* === / FOOTER === */




















